<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/projeto.receitas/static/css/login.css">
    <link rel="shortcut icon" href="/projeto.receitas/assets/logo.png" type="image/x-icon">
    <title>Login | Receitas</title>
</head>
<body>
    
    <main>
        <div class="login">
            <img src="/projeto.receitas/assets/KitchenHub.png" alt="">

            <input type="text" placeholder="User">
            <input type="password" placeholder="Senha">
            <button>Entrar</button>

            <div class="cadastrar">
                 <p>Não tem uma conta? <a href="#">Crie aqui!</a></p>
            </div>
           
        </div>
         <div class="cadastro">
            <img src="/projeto.receitas/assets/KitchenHub.png" alt="">

            <input type="text" placeholder="User">
            <input type="text" placeholder="Senha">
            <button>Cadastrar</button>
        </div>


    </main>


    <script src="/projeto.receitas/static/js/login.js"></script>
</body>
</html>