<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitchenHub</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Livro de Receitas</h1>
    </header>

    <main>
        <section class="principal">

            <figure>
                <img src="/assets/woman-cooking-kitchen-dark.png" alt="imagem ilustrativa sobre receita">
            </figure>
            <p>
                Tenha suas receitas favoritas reunidas em um só lugar! Para começar o seu, basta clicar no botão abaixo e encontrar inúmeros pratos! Ao gostar de algum, é só abrir página da receita e depois clicar no botão de salvar!
            </p>
    
            <button>Encontre receitas e salve no seu livro</button>
    
            <p>Já tem seu livro de receitas? <a href="login.html">Faça seu login</a></p>

        </section>

        <section class="complementar">
            <div class="info">
                <ul class="sobre--instrucoes">

                    <li>
                        <div class="icon">

                        </div>
                        <div>
                            <h3>Salve suas receitas preferidas</h3>
                            <p>Na página da receita, clique no botão "salvar receita" e ela aparecerá no seu ambiente "Livro de receitas".</p>
                        </div>
                    </li>
                    <li>
                          <div class="icon">
                            
                        </div>
                        <div>
                            <h3>Acesso rápido</h3>
                            <p>Encontre de forma fácil e rápida as suas receitas. Basta ir em Menu > Livro de Receitas.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

    </main>
</body>
</html>