<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon" />
    <title>Login | KitchenHub</title>
  </head>
  <body>
    <main>
      <div class="login">
        <img src="/assets/KitchenHub.png" alt="" />
        
        <input type="text" placeholder="User" />
        <input type="password" placeholder="Senha" />
        <button>Entrar</button>
        
        <div class="cadastrar">
            <p>Não tem uma conta? <a id="criar-conta" href="#">Crie aqui!</a></p>
        </div>
    </div>
    <div id="cadastro">
        <img src="/assets/KitchenHub.png" alt="" />
        
        <span>Crie seu usuário aqui:</span>
        <input type="text" placeholder="User" />
        <span>Crie sua senha aqui:</span>
        <input type="password" placeholder="Senha" />
        <button>Cadastrar</button>
        <div id="backtologin">
          <p>Já tem conta? <a id="voltar-login" href="#">Faça login</a></p>
        </div>
      </div>
    </main>

    <script src="/static/js/login.js"></script>
  </body>
</html>
