<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/receitas-themes.css" />
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <title>KitchenHub - Suas Receitas Favoritas</title>
  </head>
  <body>
    <main id="main-content">
      <nav id="header" class="main-header">
        <div class="logo-container">
          <img src="/assets/logo.png" alt="Logo KitchenHub" />
          <h1 class="brand-name">KitchenHub</h1>
        </div>

        <div class="menu-wrapper">
          <button
            class="menu-toggle"
            id="btn-menu"
            aria-label="Abrir menu de navegação"
          >
            <i class="fa-solid fa-bars"></i>
          </button>

          <nav class="side-menu" id="menu-lateral" aria-label="Menu Principal">
            <button class="btn-close" id="btn-fechar" aria-label="Fechar menu">
              &times;
            </button>
            <ul class="nav-links">
              <li><a href="sessoes.html">Sessões</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="index.html">Menu Principal</a></li>
              <li>
                <a href="salvos.html"
                  >Livro de Receitas
                  <i class="fa fa-bookmark" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </nav>
      <section class="search-section" aria-labelledby="title-theme">
        <h2 id="title-theme" class="section-title">Título da Categoria</h2>

        <div class="search-container">
          <input
            id="search-recipe"
            type="search"
            placeholder="Busque a receita aqui!"
            aria-label="Campo de busca de receitas"
          />
        </div>
      </section>

      <section class="recipe-grid">
        <article class="recipe-card">
          <figure class="recipe-card__image">
            <img
              src="/assets/macarraobkg.jpg "
              alt="Foto do prato de [nome da receita]"
            />
          </figure>
          <div class="recipe-card__info">
            <h1 id="name-food">Nome da comida</h1>
            <p>
              Informações extras sobre a receita aparecem aqui neste container.
            </p>

            <div class="ver-receita-fav">
              <button class="ver_receita">
                <p id="ver-receita"><strong>Ver receita</strong></p>
              </button>
              <button class="salvar_receita">
                <p id="salvar-receita"><strong>Salvar</strong></p>
              </button>
            </div>
          </div>
        </article>
        <article class="recipe-card">
          <figure class="recipe-card__image">
            <img
              src="/assets/macarraobkg.jpg "
              alt="Foto do prato de [nome da receita]"
            />
          </figure>
          <div class="recipe-card__info">
            <h1 id="name-food">Nome da comida</h1>
            <p>
              Informações extras sobre a receita aparecem aqui neste container.
            </p>

            <div class="ver-receita-fav">
              <button class="ver_receita">
                <p id="ver-receita"><strong>Ver receita</strong></p>
              </button>
              <button class="salvar_receita">
                <p id="salvar-receita"><strong>Salvar</strong></p>
              </button>
            </div>
          </div>
        </article>
        <article class="recipe-card">
          <figure class="recipe-card__image">
            <img
              src="/assets/macarraobkg.jpg "
              alt="Foto do prato de [nome da receita]"
            />
          </figure>
          <div class="recipe-card__info">
            <h1 id="name-food">Nome da comida</h1>
            <p>
              Informações extras sobre a receita aparecem aqui neste container.
            </p>

            <div class="ver-receita-fav">
              <button class="ver_receita">
                <p id="ver-receita"><strong>Ver receita</strong></p>
              </button>
              <button class="salvar_receita">
                <p id="salvar-receita"><strong>Salvar</strong></p>
              </button>
            </div>
          </div>
        </article>
      </section>
    </main>

    <script src="/static/js/menuhamb.js"></script>
    <script src="/static/js/theme.js"></script>
  </body>
</html>
