<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/salvos.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon" />
    <title>Livro de Receitas | KitchenHub</title>
  </head>
  <body>
    <header>
      <h1>Livro de Receitas</h1>

       <div class="menu-wrapper">
          <button
            class="menu-toggle"
            id="btn-menu"
            aria-label="Abrir menu de navegação"
          >
            <i class="fa-solid fa-bars"></i>
          </button>
  
          <nav class="side-menu" id="menu-lateral" aria-label="Menu Principal">
            <button class="btn-close" id="btn-fechar" aria-label="Fechar menu">
              &times;
            </button>
            <ul class="nav-links">
              <li><a href="sessoes.html">Sessões</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="index.html">Menu Principal</a></li>
              <li>
                <a href="salvos.html">Livro de Receitas <i class="fa fa-bookmark" aria-hidden="true"></i></a>
              </li>
            </ul>
          </nav>
        </div>
    </header>
 <!-- parte principal do site -->
    <main>

      <nav class="nav">
        <button>Japonesas</button>
        <button> Massas</button>
        <button> Pizzas</button>
        <button> Sobremesas</button>
      </nav>

      <section class="categorias"></section>
    </main>


    <script src="/static/js/livro_de_receitas.js"></script>
    <script src="/static/js/menuhamb.js"></script>
  </body>
</html>
