<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/sessoes.css">
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <title>Sessões</title>
</head>
<body>
    
  <main>

        <section id="section1" class="faixa-1">
            <p>japonesas</p>
        </section>

        <section class="faixa-2">
            <p>massas</p>
        </section>

        <section class="faixa-3">
           <p>pizzas</p>
        </section>

         <section class="faixa-4">
            <p>sobremesas</p>
        </section>

    </main>
    
 <!-- conexão do javascript -->
   <script src="theme.js"></script>
</body>
</html>